.timer-grid {
  display: grid;
  grid-template-columns: auto minmax(80px, 0.15fr);
  grid-template-rows: 0.9fr 0.1fr;
  gap: 20px 20px;
  grid-auto-flow: row;
  grid-template-areas:
    "test test"
    "timer submit";
}

.test {
  grid-area: test;
  overflow-y: scroll;
}

.test h1,
.section {
  margin: 1rem;
}

.test h1 {
  margin-bottom: 1.5rem;
}

.section h3,
.section p,
.section textarea {
  margin-top: 0.5rem;
  margin-bottom: 0rem;
}

.section textarea {
	text-wrap-mode: wrap;
	text-wrap-style: stable;
	text-align: left;
	width: 100%;
	height: 10rem;
}

.timer {
  grid-area: timer;
  flex-direction: row;
}

.timer p,
.timer h3 {
  margin: 0px;
}

.timer p {
  margin-right: 2.5%;
}
.timer code {
  margin-left: 2.5%;
}

.submit {
  grid-area: submit;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin: 0px;
}

.timer,
.submit {
  display: flex;
  justify-content: center;
  align-items: center;
}
