.timer-grid {
  display: grid;
  grid-template-columns: auto minmax(120px, 0.15fr);
  grid-template-rows: auto minmax(50px, 0.1fr);
  gap: 20px 20px;
  grid-auto-flow: row;
  grid-template-areas:
    "test test"
    "timer submit";
}

.test {
  grid-area: test;
  overflow-y: scroll;
}

.test h1,
.section {
  margin: 1rem;
  margin-bottom: 5rem;
}
.test h1 {
  margin-bottom: 1.5rem;
}

.section h3,
.section p,
.section textarea {
  margin-top: 0.5rem;
  margin-bottom: 0rem;
}

.section textarea {
  text-wrap-mode: wrap;
  text-wrap-style: stable;
  text-align: left;
  width: 100%;
  height: 10rem;
}
.response {
  height: 10rem;
  overflow-y: scroll;
  border: 1px solid var(--foreground-color);
  padding: 10px;
  border-radius: 10px;
}

.timer {
  grid-area: timer;
  flex-direction: row;
}

.blurry {
  filter: blur(10px);
  pointer-events: none;
  cursor: not-allowed;
  user-select: none;
}

.ready {
  position: fixed;
  margin: 0;
  padding: 0;
  text-align: center;
  left: 50%;
  top: 40%;
  transform: translateX(-50%);
  z-index: 2;
  color: var(--accent-color);

  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.ready span,
.ready h2 {
  padding: 0;
  margin: 0;
}

.timer p,
.timer h3 {
  margin: 0px;
}

.timer p {
  margin-right: 2.5%;
}

.timer code {
  margin-left: 2.5%;
}

.submit {
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.4);
}

.submit {
  grid-area: submit;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin: 0px;
}

.timer,
.submit {
  display: flex;
  justify-content: center;
  align-items: center;
}

input:disabled,
textarea:disabled {
  opacity: 80%;
  cursor: not-allowed;
}

.ready .loader {
  border-color: var(--accent-color);
}
