.timer-grid {
  display: grid;
  grid-template-columns: auto minmax(80px, 0.2fr);
  grid-template-rows: 0.85fr 0.15fr;
  gap: 20px 20px;
  grid-auto-flow: row;
  grid-template-areas:
    "test test"
    "timer submit";
}
.test {
  grid-area: test;
  overflow-y: scroll;
}

.timer {
  grid-area: timer;
  flex-direction: row;
}

.timer p,
.timer h3 {
  margin: 0px;
}

.timer p {
  margin-right: 2.5%;
}
.timer code {
  margin-left: 2.5%;
}
.submit {
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.4);
}
.submit {
  grid-area: submit;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin: 0px;
}

.timer,
.submit {
  display: flex;
  justify-content: center;
  align-items: center;
}
