* {
  --first-font: Nunito, sans-serif, system-ui;
  --second-font: "IBM Plex Serif", serif;
  --third-font: "Space Grotesk", monospace;
  font-variant-ligatures: common-ligatures discretionary-ligatures contextual;
  font-variant-numeric: tabular-nums;
  /**/

  transition: 200ms ease-in-out;
  /*animation: rotation 50000s linear infinite;*/
}
.serif {
  font-family: var(--second-font);
}
html {
  font-family: var(--first-font);
}
strong,
tr {
  font-weight: 400 !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.hidden {
  display: none !important;
}
body {
  background: var(--background-color);
}
body {
  background: radial-gradient(
      circle at 20% 30%,
      rgba(183, 255, 255, 0.4),
      transparent 50%
    ),
    radial-gradient(
      circle at 80% 70%,
      rgba(173, 230, 191, 0.4),
      transparent 50%
    ),
    radial-gradient(
      circle at 50% 50%,
      rgba(153, 228, 255, 0.4),
      transparent 50%
    );
  background-color: var(--real-background-color); /* Light base color */
  height: 100vh;
  background-attachment: fixed;
  overflow: hidden;
  margin: 0px;
}
code {
  white-space: wrap;
}
.main {
  height: 100vh;
  width: 100vw;
}
.userface {
  /*display: flex;
  align-items: center;
  justify-content: center;*/
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}
.box,
.big.box {
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.4);
}
.box {
  width: fit-content;
  height: fit-content;
  border: none;
  border-radius: 13px;
  padding: 10px;
  background-color: var(--background-color) !important;
  border: 1px solid var(--box-border-color) !important;
  color: var(--foreground-color);
}
* {
  max-width: 100vw;
  box-sizing: border-box; /* Ensures padding doesn't break the width */
  overflow-wrap: break-word; /* Wraps long content */
}
.big.box {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 10px;
  padding: 10px;
  background-color: var(--background-color) !important;
  border: 1px solid var(--box-border-color) !important;
  color: var(--foreground-color);
  margin: 0px;
}
textarea {
  width: 95%;
  /*height: 100%;*/
  height: 2em;
  box-sizing: border-box;
  resize: none;
  border: 1px solid var(--foreground-color);
  background-color: var(--background-color);
  color: var(--foreground-color);
  border-radius: 10px;
  font-family: sans-serif;
}
textarea.big {
  height: 10em;
}
.selector {
  background-color: var(--accent-color) !important;
  color: #fff;
  margin: 5px;
  padding: 3px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  /*font-size: larger;*/
  font-weight: bolder;
  cursor: pointer;
}

.selector:hover {
  background-color: var(--accent-color-button-pressed) !important;
}
.selector:disabled {
  background-color: gray !important;
  cursor: not-allowed;
}
table {
  width: 100%;
  border-collapse: collapse; /* Ensures borders are clean */
  margin: 16px 0;
}
code {
  font-family: var(--third-font), monospace !important;
  padding: 0;
  margin: 0;
}
/* Table borders */
th,
td {
  border: 1px solid #ddd; /* Light gray border */
  padding: 8px; /* Space inside cells */
  text-align: left;
}
header {
  height: 15vh;
  font-size: large;
}

.mid {
  text-align: center;
}
.right {
  text-align: right;
}
img {
  height: auto;
  width: 100%;
}
/* Table header styling */
th {
  background-color: var(--table-aux-color); /* Light gray header background */
  font-weight: bold;
}
.selector,
img,
.material-symbols-outlined,
br {
  user-select: none;
}

/* Add alternating row colors for better readability */
tr:nth-child(even) {
  background-color: var(--table-aux-color);
}
#submit-btn {
  display: flex;
  align-items: center;
  gap: 6px; /* spacing between text and icon */
}
.seperator {
  height: 1px;
  border: 1px solid lightgray;
  margin-top: 5px;
  margin-bottom: 5px;
}

.loader {
  margin: 0px;
  margin-right: 6px;
  width: 1em;
  height: 1em;
  border: 3px dotted var(--foreground-color);
  cursor: progress;
  /*border-left-color: transparent;
  border-right-color: transparent;*/
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

img {
  transform: scale(0.9);
}

header {
  z-index: -999999999;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.selector > .material-symbols-outlined {
  margin-right: 5px;
}

.main_grid {
  display: grid;
  grid-template-columns: 50px 1.6fr 1fr;
  grid-template-rows: 1.5fr 0.5fr;
  gap: 20px 20px;
  grid-auto-flow: row;
  grid-template-areas:
    "left_bar user_interface generate_test"
    "left_bar user_interface generate_test";
}
.left_bar {
  grid-area: left_bar;
  display: flex;
  flex-direction: column;
}

.narrow_only {
  display: none !important;
}
.option2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px;
  height: fit-content;
  gap: 10px;
}

.option3 {
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 10px;
  height: fit-content;
  gap: 10px;
}
.option2v {
  display: grid;
  grid-template-columns: auto auto;
  margin: 10px;
  height: fit-content;
  gap: 10px;
}
.option2v .label {
  display: flex;
  justify-content: start;
  align-items: center;
}
@media screen and (max-width: 850px) {
  .option2v {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto;
    margin: 10px;
    height: fit-content;
    gap: 10px;
  }
}
#test_format {
  padding: 10px;
  display: grid;
  grid-auto-flow: row;
}
#test_format .sb {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}
#test_format .sb_inner {
  width: 100%;
}
.try_our_gpt {
  grid-area: try_our_gpt;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-aspect-ratio: 1) {
  .wide_only {
    display: none !important;
  }

  .narrow_only {
    display: block !important;
    opacity: 100%;
  }
  .option.narrow_only {
    display: flex !important;
  }
  .option2 {
    height: fit-content;

    padding: 10px;
    border-radius: 10px;
  }
  .try_our_gpt button {
    flex-direction: column;
  }
  .option2.vertical_when_narrow {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    border: 1px solid var(--foreground-color);
  }
  .option2 .switch_container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header {
    grid-template: "a . c" 100%/15% 30% 55% !important;
  }
  .main_grid {
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 50px 2fr 1fr;
    grid-template-areas:
      "left_bar left_bar"
      "user_interface user_interface"
      "generate_test generate_test";
  }
  .left_bar {
    flex-direction: row;
  }
  .left_bar img {
    height: 100%;
    width: auto;
  }
  .left_bar .seperator {
    width: 1px;
    height: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 5px;
    margin-right: 5px;
  }
}

/*dark mode styles*/
/*
* {
  --accent-color-hover: #88cbff;
  --accent-color: #0090ff;
  --accent-color-button-pressed: #006dc1;
  --background-color: #333;
  --foreground-color: #fff;
  --box-border-color: #333;
  --real-background-color: #000;
  --color-interface-base: rgba(255, 255, 255, 0.2);
  --dm-bg-spacing: 2%;
  scrollbar-color: var(--accent-color) var(--background-color);
}
body {
  background-image: radial-gradient(circle at center, var(--accent-color-button-pressed) 1px, transparent 1px);
  background-size: 20px 20px; /* Controls the spacing between dots 
  background-repeat: repeat;

  background-color: var(--real-background-color);
}*/
/*
* {
  --accent-color-hover: #88cbff;
  --accent-color: #0090ff;
  --accent-color-button-pressed: #006dc1;
  --background-color: #fff;
  --foreground-color: #000;
  --box-border-color: #fff;
  --real-background-color: #fff;
  --color-interface-base: rgba(0, 0, 0, 0.2);
  scrollbar-color: var(--accent-color) var(--background-color);
}*/
:root {
  --accent-color-hover: #88cbff;
  --accent-color: #0090ff;
  --accent-color-button-pressed: #006dc1;
  --background-color: #fff;
  --foreground-color: #000;
  --box-border-color: #fff;
  --table-aux-color: #f0f0f0;
  --real-background-color: #fff;
  --color-interface-base: rgba(0, 0, 0, 0.2);
  --dm-bg-spacing: 2%;
  scrollbar-color: var(--accent-color) var(--background-color);
}

/* === Dark Mode (activated when body has class .dark-mode) === */
html.dark-mode body,
body.dark-mode {
  background-image: radial-gradient(
    circle at center,
    rgba(255, 255, 255, 0.4) 1px,
    transparent 1px
  );
  background-size: 20px 20px;
  background-repeat: repeat;
  background-color: var(--real-background-color);
  color: var(--foreground-color);
  --accent-color-hover: #88cbff;
  --accent-color: #0090ff;
  --accent-color-button-pressed: #006dc1;
  --background-color: #333;
  --foreground-color: #fff;
  --box-border-color: var(--background-color);
  --table-aux-color: #444;
  --real-background-color: #000;
  --color-interface-base: rgba(255, 255, 255, 0.2);
  scrollbar-color: var(--accent-color) var(--background-color);
}
.option {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.option:hover {
  background-color: var(--accent-color-hover);
  /*color:#fff;*/
  cursor: pointer;
}
.selected.option {
  background-color: var(--accent-color);
  color: #fff;
}
.selected.option:hover {
  background-color: var(--accent-color-button-pressed);
  color: #fff;
}
.user_interface {
  grid-area: user_interface;
  overflow-y: scroll;
}

.generate_test {
  grid-area: generate_test;
  overflow-y: scroll;
}
select {
  border: none;
}

.sb {
  position: relative;
  cursor: pointer;
}
.sb input {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

input#ielts,
input#toeic {
  cursor: pointer;
}
select {
  background-color: var(--background-color);
  color: var(--foreground-color);
  appearance: none;
  border: 1px solid var(--foreground-color) !important;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}
option:hover {
  background-color: var(--accent-color);
  color: #fff;
}

.sb_inner {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--foreground-color);
  width: fit-content;
}
.sb input {
  cursor: pointer;
}
.sb input:checked + .sb_inner {
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
  color: #fff;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*This section was copied from W3 schools and then modified.*/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 40px;
  height: 22px;
  z-index: 999;
  position: relative;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-interface-base);
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 2px;
  bottom: 2px;
  background-color: #fff;
  transition: 200ms;
  border-radius: 50%;
}

.switch input:checked + .slider {
  background-color: var(--accent-color);
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px var(--accent-color);
}

input:checked + .slider:before {
  transform: translateX(18px);
}
.slider_range {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: 15px;
  border-radius: calc(15px / 2);
  outline: none;
  -webkit-appearance: none;
  appearance: none;
  background: var(--color-interface-base);
}
.slider_range::-webkit-slider-thumb {
  height: 25px;
  width: 25px;
  color: var(--accent-color);
  border-radius: 50%;
  background: var(--accent-color);
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}
.slider_range::-moz-range-thumb {
  height: 25px;
  width: 25px;
  color: var(--accent-color);
  border-radius: 50%;
  background: var(--accent-color);
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}
.slider_range:disabled::-webkit-slider-thumb {
  opacity: 70%;
  cursor: not-allowed;
}
.slider_range:disabled::-moz-range-thumb {
  opacity: 70%;
  cursor: not-allowed;
}
.slider_range:disabled {
  opacity: 70%;
  cursor: not-allowed;
}
::-webkit-scrollbar-track {
  background: var(--background-color);
}
::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
}

html.unready {
  visibility: hidden;
}

html {
  visibility: visible;
}
